<div class="container compras">
  <div class="row">
    <header class="d-flex align-items-center justify-content-between">
      <h2>Estoque Produtos</h2>
    </header>

    <div class="container">
      <section class="mt-4 listagem p-4">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Preço Unitário</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Adicionar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtos">
              <td>{{ produto.nome }}</td>
              <td >{{ produto.preco | formatCurrency }}</td>
              <td>{{ produto.estoque }}</td>
              <td>
                <a
                  class="btn purple"
                  [routerLink]="['/produtos/adicionar', produto.id]"
                  >Adicionar</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
