<aside>
  <div class="logo">
    <h1><img src="/assets/images/logo.png" alt="Cieca Store" /></h1>
  </div>

  <nav class="menu">
    <ul class="menu-ul">
      <li
        class="menu-item"
        [routerLink]="['/produtos/listagem']"
        routerLinkActive="--active"
      >
        <i class="fas fa-box-open"></i>
        <span>Produtos</span>
      </li>
      <li
        class="menu-item"
        [routerLink]="['/compras/listagem']"
        routerLinkActive="--active"
      >
        <i class="fas fa-shopping-cart"></i>
        <span>Compras</span>
      </li>
      <li
        class="menu-item"
        [routerLink]="['/vendas/listagem']"
        routerLinkActive="--active"
      >
        <i class="fas fa-shopping-bag"></i>
        <span>Vendas</span>
      </li>
    </ul>
  </nav>
</aside>
