<div class="filtro d-flex justify-content-end">
  <button class="btn purple mx-2" (click)="toggle()">
    <i class="fas fa-filter"></i>
  </button>
  <button class="btn purple" [routerLink]="['/compras/cadastro']">
    Adicionar
  </button>
</div>

<form
  class="row g-3"
  *ngIf="isCollapsed"
  [formGroup]="form"
  (ngSubmit)="filtrar()"
>
  <div class="col-md-6">
    <label for="nome" class="form-label">Nome</label>
    <input
      type="email"
      class="form-control"
      id="nome"
      placeholder="Nome do produto"
      formControlName="nome"
    />
  </div>
  <div class="col-md-6">
    <label for="data" class="form-label">Data</label>
    <input type="date" class="form-control" id="data" formControlName="data" />
  </div>

  <div class="col-md-12 d-flex justify-content-end">
    <button class="btn purple mx-2">Filtrar</button>
    <button class="btn btn-secondary" (click)="limpar()">Limpar</button>
  </div>
</form>

<section class="mt-4 listagem p-4">
  <h4 class="py-4 d-flex justify-content-start">
    Total de Compras: {{ total | formatCurrency }}
  </h4>

  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Preço Compra</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compra of compras">
        <td>{{ compra.produto.nome }}</td>
        <td>{{ compra.valor | formatCurrency }}</td>
        <td>{{ compra.quantidade }}</td>
        <td>{{ compra.data }}</td>
      </tr>
    </tbody>
  </table>
</section>
